@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(23, 25, 26);
  background-image: url("../src/assets/back.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  
}

input::placeholder {
  font-style: italic;
}



.pie-div{
  display: flex;
}
